<h1>Students</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Group</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
            <% if (student.group_id == current_user.group_id) || !current_user.is_a?(Student)  %>
                <tr>
                    <td> <%= student.name %> </td>
                    <td> <%= student.group.name %> </td>
                    <td> <%= student.email %> </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>